*{
    margin:0;
    padding:0;
}
#delibox{
    font-size:50px;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color:#5FC6B0;
    height:40px;
    padding-top:20px;
}
#btn-ac{
    width:150px;
    height:24px;
    background-color:#EA79AC;
    border:none;
    border-radius:40px;
}
#themap{
    width:200px;
    height:200px;
}
#box{
    width:200px;
    height:200px;
}
#photos{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top:30px;
}
#main-section{
    padding-top:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align:center;
}
nav span{
    color:white;
}
#ndbtn{
    width:150px;
    height:24px;
    background-color:#EA79AC;
    border:none;
    border-radius:40px;
}
#detailadd{
    width:400px;
    height:100px;
}
#address{
    margin:50px 280px;
}
/* formdeco */
#formdeco{
    width:100vh;
    height:300px;
    margin:200px 200px;
}
@keyframes formani {
    0%{
        transform:translateX(250px);
    }
    50%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(0px);
    }
}
#loginform{
    
    width:500px;
    animation:formani 2s;
    
    display:flex;
    flex-direction:column;
    gap:8px;
}
#f-name{
    outline:none;
    height:24px;
    width:250px;
    padding:2px;
    border:none;
    border-radius:4px;
    padding:4px;
    height:24px;
}
#l-name{
    outline:none;
    height:24px;
    width:250px;
    padding:2px;
    border:none;
    border-radius:4px;
    padding:4px;
    height:24px;
}
#p-cr{
    outline:none;
    height:24px;
    width:250px;
    padding:2px;
    border:none;
    border-radius:4px;
    padding:4px;
    height:24px;
}
#p-co{
    outline:none;
    height:24px;
    width:250px;
    padding:2px;
    border:none;
    border-radius:4px;
    padding:4px;
    height:24px;
}
#f-img{
    width:400px;
    height:300px;
    
}
#formdeco{
    display:flex;
    flex-direction:row;
    gap:200px;
    justify-content:center;
    align-items:center;
    
}
#m-user{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:10px;
    margin-top:4px;
}
/* searchid */
#searchid{
     margin:0 auto;
     /* margin-right:68%; */
     padding:4px 5px;
     width:30%;
     position:block;
     display:flex;
     align-items: center;
     transition:box-shadow 0.3s;
     border:1px solid #FC7474;
     margin-bottom:10px;
     margin-left:100px;

}
#search-bar{
    outline:none;
    border:none;
    width:400px;
    padding:4px;
}
#magnify{
    color:#FC7474;
    
}
#usericon{
    font-size:34px;
    font-weight:lighter;
    color:#FC7474;
}

  #loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* login-form */
#logIn{
    display:flex;
    flex-direction:column;
    gap:8px;
    width:200px;
    height:300px;
    justify-content:center;
}
#logipt{
    height:24px;
    outline:none;
    padding:2px;
    width:250px;
}
#logpsw{
    height:24px;
    outline:none;
    padding:2px;
    width:250px;
}
#logform{
    margin-left:40%;
    margin-top:10%;
    animation:logani 2s;
}
/* @keyframes logani {
    0%{
        transform:translateY(-250px);
    }
    50%{
        transform:translateY(0px);
    }
    100%{
        transform:translateY(0px);
    }
} */
#userlog{
    height:30px;
    border:none;
    border-radius:2px;
    width:257px;
    background-color: #69bff8;
    color:rgb(255, 255, 255);
}
#headlog{
    margin-left:12%;
    font-size:20px;
}
