#img-deco{
    border-radius:50px 50px;
    border:none;
}

@media(max-width:480px){
          #img-deco{
            width:100px;
            height:200px;
          }
          #t-opt{
            margin-left:20px;
            
          }
          #m-ani{
            animation:myani ease-in 0.4s;
          }
          #m-ani2{
            animation:myani ease-in 0.6s;
          }
          #m-ani3{
            animation:myani ease-in 0.8s;
          }
          @keyframes myani{
              0%{
        transform:translateY(45px);
                 }
          }
         };
        
